---
---

@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i');

@font-face {
    font-family: "Core Sans A";
    src: url('/CoreSansA45.woff2') format('woff2'),
         url('/CoreSansA45.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Core Sans NR 35";
    src: url('/coresansnr35.woff2') format('woff2'),
         url('/coresansnr35.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Core Sans NR 45";
    src: url('/coresansnr45.woff2') format('woff2'),
         url('/coresansnr45.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "TT Teds";
    src: url('/tt-teds-regular.woff2') format('woff2'),
         url('/tt-teds-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "TT Travels";
    src: url('/tt_travels_regular.woff2') format('woff2'),
         url('/tt_travels_regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Bunday Sans";
    src: url('/bundaysans-regular.woff2') format('woff2'),
         url('/bundaysans-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Molde";
    src: url('/molde-regular.woff2') format('woff2'),
         url('/molde-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



$serif      : Georgia, Times, serif;
$sans-serif : "Core Sans NR 45", "Segoe UI", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Roboto, Arial, sans-serif;
$monospace  : Monaco, Consolas, "Lucida Console", monospace;

$link-color : #2266AA;

@import "{{ site.theme }}";

body {
  font-family: $sans-serif;
  color: #333333;
}

.page-header {
  display: none;
}

.main-content {
  min-width: 640px;
  width: 80%;
  max-width: 1280px;
  font-size: 16px; // can scale this in vw, vh units later
  line-height: 28px;
}

.main-content h1 {
  color: #66AA22;
  font-weight: bold;
}

.main-content h2 {
  color: #3399FF;
}

.main-content h3 {
  color: #2266AA;
}

.main-content img {
  display: block;
  margin: 0 auto;
}

.main-content table {
  margin: 0 auto;
  width: auto;
  background: #EEEEEE;
}

