---
---

@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

$serif      : Georgia, Times, serif;
$sans-serif : "Noto Sans", "Segoe UI", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Roboto, Arial, sans-serif;
$monospace  : Monaco, Consolas, "Lucida Console", monospace;

$link-color : #2266AA;

//@import "{{ site.theme }}";

body {
  font-family: $sans-serif;
  color: #333333;
}

.page-header {
  display: none;
}

.main-content {
  min-width: 640px;
  width: 80%;
  max-width: 1280px;
  font-size: 16px; // can scale this in vw, vh units later
  line-height: 28px;
}

.main-content h1 {
  color: #66AA22;
  font-weight: bold;
}

.main-content h2 {
  color: #3399FF;
}

.main-content h3 {
  color: #2266AA;
}

.main-content img {
  display: block;
  margin: 0 auto;
}

.main-content table {
  margin: 0 auto;
  width: auto;
  background: #EEEEEE;
}

