---
---

@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

$serif      : Georgia, Times, serif;
$sans-serif : "Segoe UI", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Roboto, Arial, sans-serif;
$monospace  : Monaco, Consolas, "Lucida Console", monospace;

$section-headings-color: #3399FF;
$link-color: red;

@import "{{ site.theme }}";

body {
  color: #223344;
}

body section .page-header {
  display: none;
}

.main-content {
  min-width: 320px;
  width: 75%;
  max-width: 1920px;
}

body section .main-content h2 {
  color: #336699;
  color: red;
}

.main-content h3 {
  color: #2266AA;
  color: green;
}

.main-content p {
  font-family: "Noto Sans", $sans-serif;
}

.main-content img {
  margin: 0 auto;
}

